<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/lib/vue.js"></script>
    <link rel="stylesheet" href="../static/lib/bootstrap.css">
</head>
<body>
<div id="app">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">添加品牌</h3>
        </div>
        <div class="panel-body form-inline">
            <label>
                Id:
                <input type="text" v-model="id">
            </label>
            <label>
                Name:
                <input type="text" v-model="name">
            </label>
            <input type="button" value="添加" @click="add">
        </div>
    </div>
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>createTime</th>
                <th>operation</th>
        </tr>
        </thead>
        <tbody>
            <tr v-for="item in list " :key="item.id">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.createTime }}</td>
                <td>删除</td>
            </tr>
        </tbody>
    </table>
</div>
</body>
<script type="text/javascript">
    var app = new Vue({
        el:"#app",
        data:{
            id:'',
            name:'',
            list:[
                {id:1,name:'奔驰',createTime:new Date()},
                {id:2,name:'宝马',createTime:new Date()}
            ]
        },
        methods:{
            add(){
                var car={id:this.id, name:this.name,createTime:new Date()}
                this.list.push(car)
                this.id=''
                this.name=''
            }
        }
    })
</script>
</html>