<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>小说网主页</h1>
    <tr>
        <td style="text-align: center">
            <input id="solr" class="indexSolr" type="text"  />
            <input id="search" class="indexSearch" type="button" value="搜索" />
        </td>
    </tr>
    <tr>
        <td style="text-align: center">
            <input id="login" class="indexSumbit" type="button" value="登录" />
            <input id="save" class="indexRegister" type="button" value="注册" />
        </td>
    </tr>
</body>
<script type="text/javascript" src="js/jquery-3.4.1.js"></script>
<script type="text/javascript">
    $(function () {
        $(".indexSumbit").click(indexSumbit);
        $(".indexRegister").click(indexRegister);
        $(".indexSearch").click(indexSearch);
    });
    function indexSearch() {
        var params={
            name:$('.indexSolr').val()
        }
        $.ajax({
            type:"POST" ,
            url:"solr/name",
            data:params,
            success:function (data) {
                console.info(data)
            }
        })
    };
    function indexSumbit() {
        window.location.href="/login";
    };
    function indexRegister() {
        window.location.href="/register";
    }
</script>
</html>